body{
	background-color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
}

.ck-body-wrapper{
	display: none;
}

a{
	text-decoration: none;
	color: #6541c7;
	font-weight: bold;
}

#content{
	width: 100%;
}

#headFull{
	padding: 10px 0;
	width: 99%;
	border-bottom: 1px solid #b9b8b8;
}

#footerFull{
	padding: 15px 0;
	width: 99%;
	border-top: 1px solid #b9b8b8;
	bottom:0;
	position: absolute;
}

#head_content, #content_Body, #content_footer{
	width: 1024px;
	margin: 0 auto;
}

#head_content{
	display: grid;
	grid-template-columns: 1fr 1.3fr 1.5fr 3fr;
	font-size: 14px;
}

	#pipeMenu{
		margin-left: 10px;
	}

#content_Body{
	display: grid;
	grid-template-columns: 2.2fr 1fr;
}

	#content_body_elements{
		display: grid;
		grid-template-rows: 0.7fr 5fr 1fr;
		padding: 20px 20px 0 0;
	}

		#icones_Body, #editor_texto_Body{
			display: grid;
			grid-template-columns: 40px 630px;
			padding: 10px 0 0 0;
		}

			.ck.ck-editor__editable_inline{
				height: 300px !important;
			}

			.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused), .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar, .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners{
				background-color: #f5f5f5;
			}

			.inputs{
				height: 30px;
				padding: 0;
				background-color: #f5f5f5;
				border: 2px solid #f5f5f5;
				color:#888;
			}

			input[type=text],select {
				border: none;        /* Remove default borders */
				padding: 4px 8px;
				border-radius: 4px; /* Sadly outline does not round! therefore...*/
			}

		#links_texto_body{
			display: grid;
			grid-template-columns: 0.5fr 1fr 1fr 1fr 4.5fr;
		}

		#links_texto_body a{
			width: auto;
		}

	
	#form_Body{
		display: grid;
		grid-template-rows: 3fr 1fr 1fr 1fr 1fr 1fr;
		padding-top: 20px;
	}

		#calendario{
			display: grid;
			grid-template-rows: 0.3fr 0.8fr 0.5fr;
			height: 140px;
		}

			#data{
				display: grid;
				grid-template-columns: 40px 280px;
				padding-top: 10px;
			}

			#hora{
				display: grid;
				grid-template-columns: 40px 280px;
				padding-top: 15px;
			}

			#textHora{
				display: grid;
				font-size: 10.5px;
				grid-template-columns: 40px 280px;
			}

		#atividade, #estudantes, #estrela{
			display: grid;
			grid-template-columns: 40px 280px;
			margin-top:-20px ;
		}

		#rubrica, #tag{
			display: grid;
			grid-template-columns: 40px 280px;
			font-size: 14px;
			margin-top:-20px ;
		}

			#rubrica a, #tag a{
				margin:5px 0 0 0;
			}
	
#content_footer{
	display: grid;
	grid-template-columns: 4fr 2fr 4fr;
	font-size: 14px;
}

button{
	background-color: white;
	border: 1px solid #999;
	border-radius: 5px;
	font-weight: bold;
	padding: 5px 25px;
	font-size: 14px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
	margin-left: 5px;
	cursor: pointer;
}

#AssignButton{
	background-color: white;
	border: 1px solid #999;
	border-radius: 5px;
	font-weight: bold;
	padding: 5px 0 5px 25px;
	font-size: 14px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
	margin-left: 5px;
	cursor: pointer;
}

.buttonDisabled{
	background-color: #f0f0f0;
	border-radius: 5px;
	font-weight: bold;
	padding: 5px 0 5px 25px;
	font-size: 14px;
	margin-left: 5px;
	color: #999;
	border: none;
	cursor: default !important;
}

	#iconeButton{
		padding:0 10px 0 10px;
		border-left: 1px solid grey;
		margin-left: 10px;
	}

	.icons{
		color: #afafaf;
	}

		.pessoas{
			font-size: 22px !important;
		}